<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Board Game Trends</title>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Board Game Trends</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse navbar-nav" id="navbarNav">
				<a class="nav-item nav-link" href="/plays">Played</a>
				<a class="nav-item nav-link" href="/growth">Growing</a>
				<a class="nav-item nav-link" href="/auth">Login</a>
				<a class="nav-item nav-link" href="/auth">Register</a>
			</div>
		</nav>
		<div class="row">
			<div class="col-md-4">
				<h2><a href="/plays">Most Played Games</a></h2>
			</div>
			<div class="col-md-4">
				<h2><a href="/growth">Fastest Growing Games</a></h2>
			</div>
		</div>
	</div>
</body>
</html>